
h1{
  text-align: center;
  font-family: monospace;
  font-size: 50px;
}
#gameContainer{
  text-align: center;
}

#gameBoard{
  border: 3px solid;
  text-align: center;
  background-color:forestgreen(0, 255, 0);
}

#scoreText{
  font-family: monospace;
  font-size: 50px;
  
}

#resetBtn{
  font-family: monospace;
  font-size: 20px;
  border: 2px solid;
  border-radius: 8px;
  width: 90px;
  height: 40px;
  cursor: pointer;
}